<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Token</ion-label>
          <ion-input formControlName="token"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="errorControl.token.errors?.required">
          El token es requerido
        </span>
        <span class="error ion-padding" *ngIf="errorControl.token.errors?.minlength">
          El Token está compuesto de al menos 5 dígitos.
        </span>
        <span class="error ion-padding" *ngIf="errorControl.token.errors?.pattern">
          El Token está mal formado
        </span>
      </form>
      <br>
      <ion-button (click)="ingresar()">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
